<%= stylesheet_link_tag "crossings" %>
<p id="notice"><%= notice %></p>

<h1 class="alert alert-success text-center">Crossings</h1>

<div class="text-center">
    <%= link_to new_crossing_path do%>
    <span class="glyphicon glyphicon-file " data-toggle="tooltip" title="nuevo"></span>
    <%end%>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Codecrossing</th>
            <th>Numcrossing</th>
            <th>Year</th>
            <th>Week</th>
            <th>Effective</th>
            <th>%effective</th>
            <th>NumSeed</th>
            <th>Father</th>
            <th>Mother</th>
            <th>Dateharvest</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @crossings.each do |crossing| %>
        <tr>
            <td><%= link_to crossing.codeCrossing ,crossing %></td>
            <td><%= crossing.numCrossing %></td>
            <td><%= crossing.year %></td>
            <td><%= crossing.week %></td>
            <td><%= crossing.effective %></td>
            <td><%= crossing.percentageEffective %></td>
            <td><%= crossing.numSeed %></td>
            <td><%= crossing.father %></td>
            <td><%= crossing.mother %></td>
            <td><%= crossing.dateHarvest %></td>
            <!--            <td>< link_to 'Show', crossing %></td>-->
            <td><%= link_to edit_crossing_path(crossing) do%>
                <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="editar"></span>
                <% end %>
            </td>
            <td><%= link_to crossing, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <span class="glyphicon glyphicon-remove-sign" data-toggle="tooltip" title="eliminar"></span>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>


