<p id="notice"><%= notice %></p>

<h1>Listing Crossings</h1>

<table>
    <thead>
        <tr>
            <th>Codecrossing</th>
            <th>Numcrossing</th>
            <th>Year</th>
            <th>Week</th>
            <th>Effective</th>
            <th>Percentageeffective</th>
            <th>NumSeed</th>
            <th>Father</th>
            <th>Mother</th>
            <th>Dateharvest</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @crossings.each do |crossing| %>
        <tr>
            <td><%= crossing.codeCrossing %></td>
            <td><%= crossing.numCrossing %></td>
            <td><%= crossing.year %></td>
            <td><%= crossing.week %></td>
            <td><%= crossing.effective %></td>
            <td><%= crossing.percentageEffective %></td>
            <td><%= crossing.numSeed %></td>
            <td><%= crossing.father %></td>
            <td><%= crossing.mother %></td>
            <td><%= crossing.dateHarvest %></td>
            <td><%= link_to 'Show', crossing %></td>
            <td><%= link_to 'Edit', edit_crossing_path(crossing) %></td>
            <td><%= link_to 'Destroy', crossing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Crossing', new_crossing_path %>
