<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="text-left"><%= @crossing.codeCrossing %></h2>
            </div>

            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">CodeCrossing:
                        <span><strong><%= @crossing.codeCrossing %></strong></span>
                    </li>
                    <li class="list-group-item">Numcrossing:
                        <span><strong><%= @crossing.numCrossing %></strong></span></li>
                    <li class="list-group-item">Father:
                        <span><strong><%= @crossing.father %></strong></span>
                    </li>

                    <li class="list-group-item">Mother:
                        <span><strong> <%= @crossing.mother %></strong></span>
                    </li>

                    <li class="list-group-item">Year:
                        <span><strong><%= @crossing.year %></strong></span> 
                    </li>

                    <li class="list-group-item">Week:
                        <span><strong><%= @crossing.week %></strong></span> 
                    </li>

                    <li class="list-group-item">Effective:
                        <span><strong><%= @crossing.effective %></strong></span> 
                    </li>

                    <li class="list-group-item">% Effective:
                        <span><strong><%= @crossing.percentageEffective %></strong></span>  
                    </li>

                    <li class="list-group-item">NumSeed
                        <span><strong><%= @crossing.numSeed %></strong></span> 
                    </li>

                    <li class="list-group-item">Date Harvest:
                        <span><strong><%= @crossing.dateHarvest %></strong></span> 
                    </li>

                </ul>
            </div>

            <div class="panel-footer">
                <%= link_to edit_crossing_path(@crossing) do%>
                <span class="glyphicon glyphicon-edit" title="editar"></span>
                <%end%>
                <%= link_to crossings_path do%>
                <span class="glyphicon glyphicon-arrow-left no-hover" title="atras" ></span>
                <%end%>
            </div>
        </div>
    </div>
</div>



