<p id="notice"><%= notice %></p>

<h1>Listing Children</h1>

<table>
  <thead>
    <tr>
      <th>Crossing</th>
      <th>Numindividuals</th>
      <th>Color</th>
      <th>Headsize</th>
      <th>Numflowering</th>
      <th>Numpetals</th>
      <th>Form</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
          <td><%= child.crossing ? child.crossing.codeCrossing : 'N/A' %></td>
        <td><%= child.numIndividuals %></td>
          <td><%= child.color ? child.color.colorName : 'N/A' %></td>
        <td><%= child.headSize %></td>
        <td><%= child.numFlowering %></td>
        <td><%= child.numPetals %></td>
        <td><%= child.form %></td>
          <td><%= child.image_file_name ? child.image_file_name : 'N/A' %></td>
        <td><%= link_to 'Show', child %></td>
        <td><%= link_to 'Edit', edit_child_path(child) %></td>
        <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Child', new_child_path %>
