
<h1 class="alert alert-success text-center">Genetic Bank</h1>

<div class="text-center">
    <%= link_to new_genetic_bank_path do %>
    <span class="glyphicon glyphicon-file " data-toggle="tooltip" title="nuevo"></span>
    <% end %>
</div>

<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>Code</th>
            <th>Breeder</th>
            <th>An.Year</th>
            <th>Status</th>
            <th>Variety</th>
            <th>#Plants</th>
            <th>Picture</th>
            <th>Color</th>
            <th>Scent</th>
            <th>Headsize</th>
            <th>Petals</th>
            <th>Steamlength</th>
            <th>Production</th>
            <th>Opening</th>
            <th>Fl.Abnormality</th>
            <th>Sheets</th>
            <th>Hawthorn</th>
            <th>Remarks</th>
            <th>RelationShip</th>
            <th colspan="3"></th>

        </tr>
    </thead>

    <tbody>
        <% @genetic_banks.each do |genetic_bank| %>
        <tr>
            <td><%= link_to genetic_bank.codeBreeder,genetic_bank %></td>
            <td><%= genetic_bank.breeder %></td>
            <td><%= genetic_bank.analysedYear %></td>
            <td><%= genetic_bank.status %></td>
            <td><%= genetic_bank.variety %></td>
            <td><%= genetic_bank.numPlants %></td>
            <td><%= genetic_bank.picture_file_name %></td>
            <td><%= genetic_bank.color ? genetic_bank.color.colorName : 'N/A'  %></td>
            <td><%= genetic_bank.scent %></td>
            <td><%= genetic_bank.headSize %></td>
            <td><%= genetic_bank.petals %></td>
            <td><%= genetic_bank.steamLength %></td>
            <td><%= genetic_bank.production %></td>
            <td><%= genetic_bank.opening %></td>
            <td><%= genetic_bank.flowerAbnormality %></td>
            <td><%= genetic_bank.sheets %></td>
            <td><%= genetic_bank.hawthorn %></td>
            <td><%= (genetic_bank.remarks.empty? )  ? 'N/A' : genetic_bank.remarks%></td>
            <td><%= (genetic_bank.relationship.empty?) ? 'N/A' : genetic_bank.relationship %></td>
            <!--            <td>< link_to 'Show', genetic_bank %></td>-->
            <td><%= link_to edit_genetic_bank_path(genetic_bank) do%>
                <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="editar"></span>
                <% end %>
            </td>
            <td><%= link_to genetic_bank, method: :delete, data: { confirm: 'Are you sure?' } do%>
                <span class="glyphicon glyphicon-remove-sign" data-toggle="tooltip" title="eliminar"></span>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

