<p id="notice"><%= notice %></p>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><%= @genetic_bank.breeder %></h2>
            </div>
            <div class="panel-body">
                <center>
                    <div class="image-rose">
                        <%= image_tag @genetic_bank.picture.url() %>
                    </div>                    
                </center>
                <br>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">CodeBreeder:  
                            <span><strong><%= @genetic_bank.codeBreeder %></strong></span>
                        </li>

                        <li class="list-group-item">Analysed Year: 
                            <span><strong><%= @genetic_bank.analysedYear %></strong></span>
                        </li>

                        <li class="list-group-item">Status:
                            <span><strong><%= @genetic_bank.status %></strong></span>
                        </li>

                        <li class="list-group-item">Variety:
                            <span><strong> <%= @genetic_bank.variety %></strong></span>
                        </li>

                        <li class="list-group-item">Num Plants
                            <span><strong><%= @genetic_bank.numPlants %></strong></span>
                        </li>

                        <li class="list-group-item">Color:
                            <span><strong><%= @genetic_bank.color ? @genetic_bank.color.colorName : 'N/A'  %></strong></span>
                        </li>

                        <li class="list-group-item">Scent:
                            <span><strong><%= @genetic_bank.scent %></strong></span>
                        </li>

                        <li class="list-group-item">Head Size:
                            <span><strong><%= @genetic_bank.headSize %></strong></span>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">Petals:
                            <span><strong><%= @genetic_bank.petals %></strong></span>
                        </li>

                        <li class="list-group-item">Steam Length:
                            <span><strong><%= @genetic_bank.steamLength %></strong></span>
                        </li>

                        <li class="list-group-item">Production:
                            <span><strong><%= @genetic_bank.production %></strong></span>
                        </li>

                        <li class="list-group-item">Opening:
                            <span><strong></strong><%= @genetic_bank.opening %></span>
                        </li>

                        <li class="list-group-item">Flower Abnormality
                            <span><strong><%= @genetic_bank.flowerAbnormality %></strong></span>
                        </li>

                        <li class="list-group-item">Sheets:
                            <span><strong><%= @genetic_bank.sheets %></strong></span>
                        </li>

                        <li class="list-group-item">Hawthorn
                            <span><strong> <%= @genetic_bank.hawthorn %></strong></span>
                        </li>

                        <li class="list-group-item">Remarks:
                            <span><strong><%= (@genetic_bank.remarks.empty? )  ? 'N/A' :  @genetic_bank.remarks %></strong></span>
                        </li>

                        <li class="list-group-item">Relation:
                            <span><strong><%= (@genetic_bank.relationship.empty? ) ?  'N/A' : @genetic_bank.relationship %></strong></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-footer">
                <%= link_to edit_genetic_bank_path(@genetic_bank) do%> 
                <span class="glyphicon glyphicon-edit" title="editar"></span>
                <% end %>
                <%= link_to genetic_banks_path do%>
                <span class="glyphicon glyphicon-arrow-left no-hover" title="atras" ></span>
                <% end %>
            </div>
        </div>
    </div>
</div>


