<p id="notice"><%= notice %></p>

<h1>Listing Sowings</h1>

<table>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Numseed</th>
      <th>Weight</th>
      <th>Week</th>
      <th>Hydratation</th>
      <th>Calendar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sowings.each do |sowing| %>
      <tr>
        <td><%= sowing.origin %></td>
        <td><%= sowing.numSeed %></td>
        <td><%= sowing.weight %></td>
        <td><%= sowing.week %></td>
        <td><%= sowing.hydratation %></td>
        <td><%= sowing.calendar %></td>
        <td><%= link_to 'Show', sowing %></td>
        <td><%= link_to 'Edit', edit_sowing_path(sowing) %></td>
        <td><%= link_to 'Destroy', sowing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sowing', new_sowing_path %>
