<div class="container">
    <div class="row">
        <div class="col-offset-1 col-md-10">
            <%= form_for(@color,:html=>{:class=>"form-horizontal"}) do |f| %>
            <% if @color.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@color.errors.count, "error") %> prohibited this color from being saved:</h2>

                <ul>
                    <% @color.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
            <% end %>

            <div class="form-group">
                <%= f.label :colorName, :class=>"col-md-2" %>
                <div class="col-md-3">
                    <%= f.text_field :colorName, :class=>"form-control" %>                    
                </div>
            </div>
            <div class="form-group">
                <%= f.label :code , :class=>"col-md-2"%>
                <div class="col-md-3">
                    <%= f.text_field :code, :class=>"form-control" %>                    
                </div>
            </div>
            <div class="form-group">
                <div class="actions">
                    <%= f.submit :class=>"btn btn-primary"%>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
